extends layout

block head
  link(href="/vendors/bootstrap-3.1.1/bootstrap.min.css", rel="stylesheet")
  style.
    .container { max-width: 750px }

block content
  .container
    .page-header.text-center
      h1 Anigrams
      each anigram in anigrams
        a(href="/anigram/" + anigram)=anigram
block footer
  script.
    log("Welcome to the index")